# Modo desarrollo
IS_DEV=true

# API Key opcional
API_KEY=123456

# Log Size opcional
LOG_MAX_SIZE=5

# Configuración PDO
DB_DRIVER=mysql
DB_HOST=localhost
DB_NAME=api_db
DB_USER=root
DB_PASS=

# O SQLite
# DB_DRIVER=sqlite
# DB_NAME=database.sqlite


# Configuracion OCI opcional
OCI_USER=OCI_USER
OCI_PASS=OCI_PASS
OCI_PROTOCOL=TCP
OCI_HOST=IP # ip de test
OCI_PORT=1521
OCI_SVC_NAME=svname
OCI_ENCODING=AL32UTF8
